@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor-principal: #CCCCCC;
    --cor-secundaria: #032d74;
    --botoes-principais: #f0eded; 
    --hover-botoes-principais: #235ec5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', Courier, monospace;
    font-weight: 400;
    list-style: none;
}

html, body {
    overflow-x: hidden;
}

body{
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--cor-principal);
    width: 100%;
    min-height: 8.5%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    z-index: 100;
}


.logo a{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 10px #0e024799;
}

.logo img{
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: -30px 0px -30px 0px;
}


.logo a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor-secundaria);
    transition: width 0.7s ease;
}


.logo a:hover::after{
    width: 100%;
}

nav ul{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
}

li button{
    border: none;
    background-color: var(--botoes-principais);
    color: var(--cor-secundaria);
    font-size: 1rem;
    cursor: pointer;
    padding: 13px 10px;
    border-radius: 14px;
    font-weight: bold;
    position: relative;
    transition: 0.4s;
}

a.btn-sair{
    border: none;
    background-color:var(--botoes-principais);
    color: var(--cor-secundaria);
    font-size: 1rem;
    cursor: pointer;
    padding: 13px 10px;
    border-radius: 14px;
    font-weight: bold;
    position: relative;
    transition: 0.4s;
    text-decoration: none;
}

a.btn-sair:hover{
    color: var(--hover-botoes-principais);
}

li button:hover{
    color:  var(--hover-botoes-principais);
}

main.entradas{
    display: flex;
    flex: 1;
    padding-top: 120px;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 4rem;
}

.container-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    margin: 0 auto
}


.efeito{
    color: var(--cor-secundaria);
}

.btn-comecar {
    border: none;
    background-color: transparent;
    color: var(--cor-secundaria);
    font-size: 19px;
    cursor: pointer;
    position: relative;
}

.btn-comecar::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #1465BB;
    transition: width 0.5s ease;
    margin-top: 1px;
}

.btn-comecar:hover::after {
    width: 100%;
}


.login-cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: var(--cor-secundaria);
    padding: 5%;
    border-radius: 15px;
    color: #fff;
    position: relative;
}



.login-cadastro form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-cadastro input{
    text-align: center;
    width: 100%;
    max-width: 300px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--botoes-principais); 
    border: none;
    font-size: 16px;
}

.login-cadastro input::placeholder{
    color: var(--cor-secundaria);
}

.login-cadastro p{
    font-size: 20px;
    font-weight: bold;
}

.login-cadastro button.btn-lc{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--botoes-principais);
    border: none;
    color: var(--cor-secundaria);
    margin: 0 auto;
    cursor: pointer;
}

.login-cadastro button.btn-lc:hover{
    background-color: #dbdbdb;
}


.login-cadastro  .btn-cancelar{
   position: absolute;
    top: 0; 
    right: 0;
    width: 50px;
    height: 50px;
    color: var(--botoes-principais);
    background: transparent;
    border: none;
    cursor: pointer;
}

.login-cadastro  .btn-cancelar:hover{
  color: #dbdbdb;
}

#container_aviso{
    position: absolute;
    z-index: 100;
    font-size: 100px;
    background-color: #f0eded;
    padding: 10px 15px;
    bottom: 3%;
    right: 30%;
}

.hide{
    display: none;
}

footer{
    margin-top: auto;
    background-color: var(--cor-secundaria);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 50px;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    gap: 1rem;
}

footer a{
    color: var(--botoes-principais);
    text-decoration: none;
}

footer a:hover{
    color: var(--cor-principal);
}

.imagem-inicio img{
    max-width: 400px;
    width: 100%;
    height: auto;
}



@media (max-width: 768px) {

    .logo img {
        max-width: 200px;
        margin: 0;
    }

    header{
        flex-direction: column;
        row-gap: 10px;
        padding: 0.7rem 1rem;
    }

      nav ul{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    main.entradas,
    #main-home {
        margin-top: 70px;
        margin-bottom: 90px;
    }

    footer{
        padding: 14px 1rem;
        row-gap: 10px;
    }

    li button{
        padding: 10px 8px;
        border-radius: 12px;
    }

    .login-cadastro  .btn-cancelar{
        padding-left: 14px;
    }

}