@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --cor-principal: #CCCCCC;
    --cor-secundaria: #032d74;
    --botoes-principais: #f0eded; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    list-style: none;
}

body{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--cor-principal);
    width: 100%;
    min-height: 8.5%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}

.logo a{
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 10px #0e024799;
}

.logo img{
    max-width: 300px;
    width: 100%;
    height: auto;
    margin: -25px 0px -25px 0px;
}


.logo a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--cor-secundaria);
    transition: width 0.7s ease;
}


.logo a:hover::after{
    width: 100%;
}

.logo a:active{
    color: var(--cor-secundaria);
}

.logo a:visited{
    color: var(--cor-secundaria);
}

nav ul{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
}

li button{
    border: none;
    background-color: var(--botoes-principais);
    color: var(--cor-secundaria);
    font-size: 1rem;
    cursor: pointer;
    padding: 13px 10px;
    border-radius: 14px;
    font-weight: 800;
    position: relative;
    transition: 0.5s;
}

a.btn-sair{
    border: none;
    background-color: var(--botoes-principais);
    color: var(--cor-secundaria);
    font-size: 1rem;
    cursor: pointer;
    padding: 13px 10px;
    border-radius: 14px;
    font-weight: 800;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}

a.btn-sair:hover{
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
}

li button:hover{
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
}

.entradas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 100px; 
    padding-bottom: 80px;
}

.container-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    margin: 0 auto
}


.efeito{
    color: var(--cor-secundaria);
}

.btn-comecar{
    border: none;
    background-color: transparent;
    color: #032d74;
    font-size: 19px;
    cursor: pointer;
}

.btn-comecar:hover{
    color: #54A5E6;
}


.login-cadastro{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: var(--cor-secundaria);
    padding: 5%;
    border-radius: 15px;
    color: #fff;
    position: relative;
}



.login-cadastro form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-cadastro input{
    text-align: center;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--botoes-principais); 
    border: none;
}

.login-cadastro input::placeholder{
    color: var(--cor-secundaria);
}

.login-cadastro p{
    font-size: 20px;
    font-weight: bold;
}

.login-cadastro button{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--cor-principal);
    border: none;
    color: var(--cor-secundaria);
    margin: 0 auto;
    cursor: pointer;
}

.login-cadastro  .btn-cancelar{
   position: absolute;
    top: 0;  /* ajusta a posição conforme quiser */
    right: 0;
    width: 50px;
    height: 50px;
    color: var(--botoes-principais);
    background: transparent;
    border: none;
    cursor: pointer;
}

#container_aviso{
    position: absolute;
    z-index: 100;
    font-size: 100px;
    background-color: #f0eded;
    padding: 10px 15px;
    bottom: 3%;
    right: 30%;
}



.hide{
    display: none;
}


footer{
    background-color: #032d74;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 14px 50px;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
}

footer a{
    color: var(--botoes-principais);
    text-decoration: none;
}



@media (max-width: 768px) {
    header{
        flex-direction: column;
        row-gap: 20px;
    }
    
    .entradas{
          padding-top: 200px; 
    }
}